.chat
  .header
    .left_box
      .left_box_current_group
        = @group.name
      .left_box_member_list
      .member
        - @group.users.each do |user|
          = user.name
  
    =link_to edit_group_path(@group),  class:"edit_btn" do
      Edit
  -# .messages
    -# .message
    -#   .info xxx
    -#   .text こんばんは！
    .messages
  = render @messages
   
  .for
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
  .form
    .input_box
      %input.login-input-text{name: "email", placeholder: "type a message", type: "text", value: ""}/
      .input_box_text
      .input_box_image
      .image
      %label{class: "image"}
        = icon('fas', 'image')
        %input{type: "file"}
      .send_btn Send