.chat
  .header
    .left_box
      .left_box_current_group
        = @group.name
      .left_box_member_list
      .member
        - @group.users.each do |user|
          = user.name
  
    =link_to edit_group_path(@group),  class:"edit_btn" do
      Edit
  
  .messages
    = render @messages
   
  .form
    .input_box
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'


      .send_btn
