.side_bar
  .side_header
    .box
      .username 太郎
      = current_user.name
      .setting
        .edit
        = link_to "#" do
          = icon('fas', 'edit')
        .cong
        = link_to "#" do
          = icon('fas', 'cog')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')
  .groups
    .group
      .name サンプルグループ
      .message こんばんは！
    .group
      .name サンプルグループ
      .message こんばんは
    .group
      .name サンプルグループ
      .message こんばんは
    .group
      .name サンプルグループ
      .message こんばんは